body{
    margin: 0%;
    padding: 0%;
}
img{
  height: 350px;
  width: 100%;
  
}
.title1{
    margin-left: 6vh;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 7vh;
}
.list{
    font-size: 20px;
    margin-left: 11vh;
}
.pera{
    font-size: 15px;
    margin-left: 12vh;
}
/* ==table */
#table1{
    height: 100%;
    width:100%;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
  }